<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/home.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">E-schronisko</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Zwierzęta <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/psy">Psy</a></li>
                    <li><a href="/koty">Koty</a></li>
                    <li><a href="/inne">Inne</a></li>
                </ul>
            </li>
            <li><a href="/tips">Porady</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li th:if ="${session.loggedUser} != null"><a href="/account"><span class="glyphicon glyphicon-user"></span> Moje konto</a></li>
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Zarejestruj się</a></li>
            <li th:if ="${session.loggedUser} != null"><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Wyloguj</a></li>
            <li th:unless ="${session.loggedUser}  != null"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a></li>
        </ul>
    </div>
</nav>
</body>
</html>