<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>E-schronisko</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/home.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">E-schronisko</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>

  <div class="footer">E-schronisko !!!!!!</div>


  <div class="album text-muted">
      <div class="container">

          <div class="row">
              <div class="card">
                  <img th:src="@{images/pies.jpg}" alt="Card image cap"/>
                  <p class="card-text">Tego ładnego pieska chcieli zjeść chinole, ale my im nie daliśmy. Dej mu coś</p>
              </div>
              <div class="card">
                  <img th:src="@{images/kot.jpg}" alt="Card image cap"/>
                  <p class="card-text">Ten śliczny kotek został potrącony przez samochód 5 razy, jest debilem bo jak widzi samochód to się pod niego wbiega. Jemu nic nie dawej, bo predzej czy później i tak go coś przejedzie</p>
              </div>
              <div class="card">
                  <img th:src="@{images/sarna.jpg}" alt="Card image cap"/>
                  <p class="card-text">Ta sernka w sumie sobie biegała wolno po lesie, ale my ją schwytaliśmy bo uznaliśmy że przyciągnie idiotów płacących nam hajs. Dej mnie hajs, bo mom horom sarne</p>
              </div>
          </div>



      </div>
  </div>


</body>
</html>
