<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Logowanie E-Schronisko</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
  <link rel="stylesheet" th:href="@{/home.css}" />
  <link rel="stylesheet" th:href="@{/login1.css}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="header :: header">

</div>

  <div class="container">

    <h1>Wylogowano !!!</h1>

  </div> <!-- /container -->
 <div th:replace="footer :: footer">
  </div>
</body>
</html>
