<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Psy</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/home.css}" />
    <link rel="stylesheet" th:href="@{/animal_list.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<style type="text/css">
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-wrg0{font-size:26px;text-align:center;vertical-align:top}
.tg .tg-qgsu{font-size:18px;vertical-align:top}
</style>
<body>
<div th:replace="header :: header">

</div>

<div class="container-fluid">
    <div class="row text-center">
        <h3 class="headermessage">Wszyscy nasi poodopieczni:</h3>
    </div>
    <div class="row">

        <div class="image-block col-sm-4" data-toggle="modal" data-target="#myModal" th:attr="data-id=${animal.name}" th:each="animal: ${animals}" varStatus="loop" th:value="${animal.name}" style="background: url(images/${animal.photo}.jpg) no-repeat center top;background-size:cover;">
            <p data-th-text="${animal.name}"> </p>
            <input type="hidden" class="animalName" th:value="${animal.name}"/>
            <input type="hidden" class="animalDescription" th:value="${animal.description}"/>
            <input type="hidden" class="animalIDs" th:value="${animal.id}"/>
        </div>



    </div>
</div>
<div th:replace="footer :: footer">
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Opis podopiecznego</h4>
            </div>
            <div class="modal-body">
                <table class="tg">
                    <tr>
                        <th class="tg-wrg0" colspan="2"><p name="animalDesc" id="animalName"/> </th>
                    </tr>
                    <tr>
                        <td class="tg-baqh"><input type="image" name="animalImage" id="animalImage" value=""  style="width:200px;height:150px"/></td>
                        <td class="tg-qgsu"><p name="animalDesc" id="animalDesc"/></td>
                    </tr>
                    <tr>
                        <td class="tg-qgsu" colspan="2">
                            <input type="number" min="1" name="animalDonationAmount" id="animalDonationAmount"/>
                            <input type="submit" value="Donacja!" name="animalDonationButton" id="animalDonationButton"/>

                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>

    </div>
</div>

</body>
</html>


<script type="text/javascript">
    /*<![CDATA[*/
    var buttons = document.getElementsByClassName("image-block");
    var animalName = document.getElementsByClassName("animalName");
    var animalDescription = document.getElementsByClassName("animalDescription");
    var animalIDs = document.getElementsByClassName("animalIDs");

    var img = 'images/bruno.jpg';
    function changeBackground(aId){
        console.log(aId);

    }
    console.log(buttons.length);
    var x = buttons.length;
    for (i = 0; i < x; i++) {
        (function() {
            console.log(animalName[i].value);
            var img = 'images/' + animalName[i].value+ '.jpg';
            buttons[i].style.backgroundImage = 'url("' + img + '")';
            var someVar;
            

            someVar = i;

            buttons[i].addEventListener("click", function(){
                    console.log("nr." + someVar);
                    $(".modal-body #animalId").val( someVar );
                    $(".modal-body #animalImage").attr('src',img);
                    $(".modal-body #animalDesc").text(animalDescription[someVar].value);
                    $(".modal-body #animalName").text(animalName[someVar].value);
                    $(".modal-body #animalDonationButton").click(function() {
                      console.log("donacja " + $(".modal-body #animalDonationAmount").val() + " id:" + animalIDs[someVar].value);
                      $.ajax({
                        type:'POST',
                        url: "addDonation.do",
                        data: {
                            amount: $(".modal-body #animalDonationAmount").val(),
                            animalId: animalIDs[someVar].value
                        }
                    });

                    });
                }, false);
        }());
    }


    /*]]>*/
</script>
