<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Rejestracja E-Schronisko</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/home.css}" />
    <link rel="stylesheet" th:href="@{/login1.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="header :: header">

</div>

<div class="container">

    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Rejestracja</h2>


        <label for="userFirstName" class="sr-only">Imię</label>
        <input type="text" id="userFirstName" class="form-control"
               name ="userFirstName" placeholder="Imie" th:required="required"></input>

        <label for="userLastName" class="sr-only">Nazwisko</label>
        <input type="text" id="userLastName" class="form-control"
               name ="userLastName" placeholder="Nazwisko" th:required="required"></input>

        <label for="userEmail" class="sr-only">Email</label>
        <input type="email" id="userEmail" class="form-control"
               name ="userEmail" placeholder="E-mail" th:required="required"></input>

        <label for="userPassword" class="sr-only">Hasło</label>
        <input type="password" id="userPassword" class="form-control"
               name ="userPassword" placeholder="Hasło" th:required="required"></input>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Zarejstruj</button>

    </form>

</div>

<div th:replace="footer :: footer">
</div>
</body>
</html>
